.line{
  background: green;
  position: absolute;

  &:nth-child(10) {
    top: 75px;
    width: 0;
    height: 2px;
  }
  &:nth-child(11) {
    top: 225px;
    width: 0;
    height: 2px;
  }
  &:nth-child(12) {
    top: 375px;
    width: 0;
    height: 2px;
  }

  &:nth-child(13) {
    left: 75px;
    width: 2px;
    height: 0;
  }
  &:nth-child(14) {
    left: 225px;
    width: 2px;
    height: 0;
  }
  &:nth-child(15) {
    left: 375px;
    width: 2px;
    height: 0;
  }

  &:nth-child(16) {
    width: 0;
    height: 2px;
    transform: rotate(45deg);
    transform-origin: 0 0;
    top: 0;
    left: 2px;
  }
  &:nth-child(17) {
    width: 0;
    height: 2px;
    transform: rotate(-45deg);
    transform-origin: right;
    top: 0;
    right: 4px;
  }
}