*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: Arial, Helvetica, sans-serif;
}

@import './buttons';
@import './field';
@import './cell';
@import './line';
@import './game_info';

.container{
  width: 90%;
  margin: 0 auto;
  padding: 20px;

  h1{
    text-align: center;
  }
}

